    <!-- 2e -->
    <div class="sm-w-1/1 md-w-1/2 lg-w-2/3 grid__item mrgt">
        <img class="img-block" src="{{ '/files/plans/2e.png' | absolute_url }}">
    </div>

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/3 grid__item mrgt">
        <hr class="mrgb">
        <p class="title uppercase text-white "><span class="boxed">21</span></p>
        <a href="{{ '/artistes/P32.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Fossiles</p>
            <p>Rachel Gotheil, Julien Woessner</p>
            <a href="{{ '/artistes/P36.html' | absolute_url }}">
                <p class="title uppercase boxed text-alt">A Wall Says Goodbye</p>
                <p>Francis Schneiter</p>
            </a>

            <img class="picto--small picto--background img-responsive mrgt" src="{{ '/files/picto/wc.png' | absolute_url }}">

            <p class="title uppercase text-white "><span class="boxed">23</span></p>
            <a href="{{ '/artistes/P03.html' | absolute_url }}">
                <p class="title uppercase boxed text-alt">In Your House</p>
                <p>Martin Gauthier</p>
                <a href="{{ '/artistes/P02.html' | absolute_url }}">
                    <p class="title uppercase boxed text-alt">Empreinte</p>
                    <p>Delphine Burtin</p>
                </a>
            </a>

            <p class="title uppercase text-white "><span class="boxed">C1</span></p>
            <a href="{{ '/artistes/P35.html' | absolute_url }}">
                <p class="title uppercase boxed text-alt">En montant au 5<sup>e</sup></p>
                <p>Inso Mundo</p>
            </a>
        </div>
        <!-- 2e -->