
<!-- 3e -->
<div class="sm-w-1/1 md-w-1/2 lg-w-2/3 grid__item mrgt">
    <img class="img-block" src="{{ '/files/plans/3e.png' | absolute_url }}">
</div>

<div class="sm-w-1/1 md-w-1/2 lg-w-1/3 grid__item mrgt">
    <hr class="mrgb">
    <p class="title uppercase text-white "><span class="boxed">31</span></p>
    <a href="{{ '/artistes/P22.html' | absolute_url }}">
        <p class="title uppercase boxed text-alt">Domino</p>
        <p>Syn Liu</p>
    </a>
    <a href="https://www.instagram.com/raph_de_r/?hl=fr">
        <p class="title uppercase boxed text-alt">SOUVENIRS VACILLANTS  </p>
        <p>Raph de R.</p>
    </a>

    <p class="title uppercase text-white "><span class="boxed">32</span></p>
    <a href="{{ '/artistes/P05.html' | absolute_url }}">
        <p class="title uppercase boxed text-alt">le temps d'une mue</p>
        <p>Lucie Shaeren</p>
    </a>
    <a href="{{ '/artistes/P17.html' | absolute_url }}">
        <p class="title uppercase boxed text-alt">Murmures d’hokori</p>
        <p>Sabine Oppliger</p>
    </a>

    <img class="picto--small picto--background img-responsive mrgt" src="{{ '/files/picto/wc.png' | absolute_url }}">

</div>
<!-- 3e -->
