    <!-- 4e -->
    <div class="sm-w-1/1 md-w-1/2 lg-w-2/3 grid__item mrgt">
        <img class="img-block" src="{{ '/files/plans/4e.png' | absolute_url }}">
    </div>
    <div class="sm-w-1/1 md-w-1/2 lg-w-1/3 grid__item mrgt">
        <hr class="mrgb">
        <p class="title uppercase text-white "><span class="boxed">41</span></p>
        <a href="{{ '/artistes/P21.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Restes de nous</p>
            <p>Sébastien Martinet</p>
        </a>

        <img class="picto--small picto--background img-responsive mrgt" src="{{ '/files/picto/wc.png' | absolute_url }}">

        <p class="title uppercase text-white "><span class="boxed">42</span></p>
        <a href="{{ '/artistes/P06.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Ceux qui peuplent l'absence</p>
            <p>Gaëlle Vejlupek</p>
        </a>

        <p class="title uppercase text-white "><span class="boxed">43</span></p>
        <a href="{{ '/artistes/P08.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Invocation – Évocations</p>
            <p>Peggy Jault, Véronique Martinet Burland</p>
        </a>
    </div>
    <!-- 4e -->