    <!-- 5e -->
    <div class="sm-w-1/1 md-w-1/2 lg-w-2/3 grid__item mrgt">
        <img class="img-block" src="{{ '/files/plans/5e.png' | absolute_url }}">
    </div>

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/3 grid__item mrgt">
        <hr class="mrgb">
        <p class="title uppercase text-white"><span class="boxed">51</span></p>
        <a href="{{ '/artistes/P12.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Chronomorphique</p>
            <p>Kevin Banto</p>
        </a>
        <a href="{{ '/artistes/P26.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Patterns</p>
            <p>Matteo Cortesi, Flavio Visalli</p>
        </a>

        <p class="title uppercase text-white "><span class="boxed">52</span></p>
        <a href="{{ '/artistes/P01.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">« N’HABITE PLUS À L’ADRESSE INDIQUÉE »</p>
            <p>Wiktoria Bosc</p>
        </a>
        <a href="{{ '/artistes/P13.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">D’un espace à un autre</p>
            <p>Natalia Gacic</p>
        </a>

    </div>
    <!-- 5e -->