<div class="grid grid--center mrgt+">

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/4 grid__item mrgt">
        <div class="box box--default">
            <p class="title alt-color uppercase">Dons</p>
            <p>Merci de votre soutien&#8239;!</p>

            <p>Compte postal 15-161622-9<br>
                IBAN: CH14 0900 000 15 16 1622 9</p>
            </div>
        </div>

        <div class="sm-w-1/1 md-w-1/2 lg-w-1/4 grid__item mrgt">
            <div class="box box--default">
                <p class="title alt-color uppercase">Contact</p>
                <p>Association Traces de Passages</p>
                <address>
                    CO Sébastien Martinet<br>
                    {{ site.street }}<br>
                    {{ site.zip }} {{ site.city }}<br>
                    {{ site.state }} - {{ site.country }}<br>
                    078 635 59 66
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </address>
            </div>
        </div>

    </div>