<div class="box box--primary mrgt+">
    <div class="grid">

        <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
            <p class="title alt-color uppercase">le Chantier</p>
            <p>D’ici fin 2019, <i>une barre d’immeubles centenaires sera détruite pour faire de la place à la gare de Lausanne</i>, en pleine croissance. Ce démantèlement s’inscrit dans un projet immense qui verra la transfo§rmation progressive du quartier sous-gare.</p>
            <p>Au cours de ce processus, des gens vont devoir quitter leur lieu de vie, modifier ce qu’ils imaginaient être leur destin pour satisfaire les exigences du changement. Ce quartier est de ceux auxquels on s’attache et on s’identifie, il leur manquera et eux lui manqueront aussi.</p>
            <p>L’Histoire se chargera d’écrire l’épitaphe de ce lieu de vie et des souvenirs qu’il contient. Nous, de notre côté, voudrions ouvrir une parenthèse dans le chantier pour montrer son âme tant que c’est encore possible.</p>
        </div>

        <div class="sm-w-1/1 md-w-1/2 lg-w-1/4 grid__item mrgt">
            <p class="title alt-color uppercase">le Projet</p>
            <p>C’est sous les platanes de la rue du Simplon, sur les terrasses, dans un des appartements voués à la destruction que des discussions sont nées sur la façon dont on pouvait prendre congé d’eux dans le respect. Elles ont engendré un projet artistique porté par un collectif qui s’est donné pour objectif de rendre hommage avec affection aux gens qui passent sans laisser de traces.</p>
        </div>

        <div class="sm-w-1/1 md-w-1/2 lg-w-1/4 grid__item mrgt">
            <p class="title alt-color uppercase">les traces</p>
            <p>En Suisse, la plupart des gens sont locataires. On passe sa vie entre des murs qui appartiennent à d’autres et qui seront réinvestis aussitôt qu’on aura disparu.</p>
            <p>Quel dessin formeraient au sol les allées et venues quotidiennes des loca-taires s’ils avaient de la peinture sous les pieds&#8239;? Peut-on ressusciter un meuble à partir de l’ombre qu’il a laissée sur le mur ? De quoi aurait l’air une chambre où seraient entremêlées toutes les histoires de couples dont elle a été le théâtre&#8239;?</p>
            <p><i>Voilà quelques-unes des questions que nous souhaitons poser</i> à travers ce projet d’interventions artistiques et plastiques vouées à disparaître avec la démolition de l’immeuble. </p>
        </div>

        <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
            <p class="title alt-color uppercase">le Collectif</p>
            <p>Cet événement est né de la volonté très humaine de ne pas disparaître. Devant l’inéluctable, des créateurs ont décidé d’investir l’immeuble autour d’une thématique construite collectivement.</p>
            <p>Avec des approches, des inspirations et issue de milieux très différents, <i>une équipe de peintres, de dessinateurs, de graphistes, de photographes, d’architectes, d’urbanistes, de plasticiens et de performeurs</i> s’est réunie pour évoquer ensemble les traces de notre passage avant que le vent de la modernité ne les disperse.</p>
        </div>



        <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
            <p class="title alt-color uppercase">Avec Notamment:</p>
            <p><ul class="list-inline">
                <div class="intervenant"><a href="{{ '/artistes/P15.html' | absolute_url }}" class="text-white">Aline Bovard Rudaz</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P04.html' | absolute_url }}" class="text-white">Arthur de Buren</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P09.html' | absolute_url }}" class="text-white">Claire de Buren</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P33.html' | absolute_url }}" class="text-white">Clélia Vuille</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P02.html' | absolute_url }}" class="text-white">Delphine Burtin</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P34.html' | absolute_url }}" class="text-white">Emilie Gafner</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P15.html' | absolute_url }}" class="text-white">Fahny Baudin</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P26.html' | absolute_url }}" class="text-white">Flavio Visalli</a></div>
                <div class="intervenant"><a href="{{ '/fiches-artistes.html' | absolute_url }}" class="text-white">Francis Schneiter</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P06.html' | absolute_url }}" class="text-white">Gaëlle Vejlupek</a></div>
                <div class="intervenant"><a href="{{ '/fiches-artistes.html' | absolute_url }}" class="text-white">Gionibek Kudaibergen</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P35.html' | absolute_url }}" class="text-white">Inso Mundo</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P09.html' | absolute_url }}" class="text-white">Iris Visinand</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P09.html' | absolute_url }}" class="text-white">Jacqueline Schmid</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P04.html' | absolute_url }}" class="text-white">Jade Rudler</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P14.html' | absolute_url }}" class="text-white">Julie Bianchin</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P32.html' | absolute_url }}" class="text-white">Julien Woessner</a></div>
                <div class="intervenant"><a href="{{ '/fiches-artistes.html' | absolute_url }}" class="text-white">Kevin Banto</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P05.html' | absolute_url }}" class="text-white">Lucie Schaeren</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P33.html' | absolute_url }}" class="text-white">Marion Geisler</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P03.html' | absolute_url }}" class="text-white">Martin Gauthier</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P26.html' | absolute_url }}" class="text-white">Matteo Cortesi</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P09.html' | absolute_url }}" class="text-white">Monica Lombardi</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P13.html' | absolute_url }}" class="text-white">Natalia Gacic</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P14.html' | absolute_url }}" class="text-white">Océane Wannaz</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P08.html' | absolute_url }}" class="text-white">Peggy Jault</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P32.html' | absolute_url }}" class="text-white">Rachel Gotheil</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P17.html' | absolute_url }}" class="text-white">Sabine Oppliger</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P21.html' | absolute_url }}" class="text-white">Sébastien Martinet</a></div>
                <div class="intervenant"><a href="{{ '/fiches-artistes.html' | absolute_url }}" class="text-white">Shing-tak liu</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P15.html' | absolute_url }}" class="text-white">Murzo</a></div>
                <div class="intervenant"><a href="https://sonnsone.ch/" class="text-white">Stéphane Geiser</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P02.html' | absolute_url }}" class="text-white">Tami Hopf</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P08.html' | absolute_url }}" class="text-white">Véronique Martinet</a></div>
                <div class="intervenant"><a href="{{ '/artistes/P01.html' | absolute_url }}" class="text-white">Wiktoria Bosc</a></div>
                <ul></p>
                </div>
            </div>

        </div>