<div class="grid grid--bottom grid--center">
    <div class="text-center mrgr"><h1 class="vertical vertical--border title uppercase">un projet éphémère</h1></div>
    <div class="text-center mrgl"><h1 class="vertical vertical--border title uppercase">d'interventions artistiques</h1></div>
</div>

<div class="grid grid--center">
    <div class="w-3/4 sm-w-3/4 md-w-1/2 lg-w-1/3 grid__item">
        <a href="{{ '/' | absolute_url }}"><img class="logo img-responsive" src="{{ '/files/logo-white.png' | absolute_url }}" alt="Logo Traces de Passages" title="Logo Traces de Passages"></a>
    </div>
</div>

<div class="grid grid--top grid--center">
    <div class="text-center mrgr"><h1 class="vertical vertical--border title uppercase">dans un immeuble centenaire</h1></div>
    <div class="text-center mrgl"><h1 class="vertical vertical--border title uppercase">voué à la démolition</h1></div>
</div>