    <!-- RDC -->
    <div class="sm-w-1/1 md-w-1/2 lg-w-2/3 grid__item mrgt">
        <img class="img-block" src="{{ '/files/plans/rez.png' | absolute_url }}">
    </div>

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/3 grid__item mrgt">
        <hr class="mrgb">
        <p class="title uppercase text-white "><span class="boxed">R1</span></p>
        <p class="title uppercase boxed text-alt">Réception et informations</p>
        <p>entrée principale</p>
        <ul class="list-inline list-inline--tiny">
            <li><img class="picto--small picto--background img-responsive" src="{{ '/files/picto/chaise.png' | absolute_url }}"></li>
            <li>Chaise roulante, s'adresser à l'entrée principale</li>
        </ul>
        <img class="picto--small picto--background img-responsive mrgt" src="{{ '/files/picto/wc.png' | absolute_url }}">

        <p class="title uppercase text-white "><span class="boxed">R2</span></p>
        <p class="title uppercase boxed text-alt">Espace performances</p>
        <a href="{{ '/artistes/P37.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">« Permettez que j’emprunte votre corps pour en faire son empreinte... »</p>
            <p>Sofi Eicher</p>
        </a>

        <p class="title uppercase text-white "><span class="boxed">R3</span></p>
        <a href="{{ '/artistes/P34.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Adresses à l'adresse</p>
            <p>Emilie Gafner</p>
        </a>

        <p class="title uppercase text-white "><span class="boxed">E1</span></p>
        <a href="{{ '/artistes/P35.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt"></p>
            <p>Inso Mundo & Hormis</p>
        </a>

        <p class="title uppercase text-white "><span class="boxed">E2</span></p>
        <a href="{{ '/artistes/P05.html' | absolute_url }}">
            <p class="title uppercase boxed text-alt">Le temps d'une mue</p>
            <p>Lucie Schaeren</p>
        </a>
    </div>
    <!-- RDC -->