
<div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
    <div class="video-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/NZK9gWtxVEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
    <div class="video-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/0_z9mH5_nfk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
    <div class="video-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/cZw2L9pk3Nc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
    <div class="video-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/9BV6BwPS7vw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
    <div class="video-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/9GwZTzu7Bw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

