
.logo {
    margin-top: $spacing-unit-default;
    margin-bottom: $spacing-unit-default;
}

.logo--medium {
    width: 150px;
}

.logo--big {
    width: 280px;
}

.logo--small {
    width: 40px;
}

.picto {
    width: 60px;
    height: 60px;
}

.picto--small {
    height: 35px;
}

.picto--background {
    background-color:white;
    padding: 5px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}