
.logo {
    margin-top: $spacing-unit-default;
    margin-bottom: $spacing-unit-default;
}

.logo--medium {
    width: 150px;
}

.logo--big {
    width: 280px;
}

.logo--small {
    width: 40px;
}

.picto {
    width: 60px;
    height: 60px;
}