.btn--padding {
padding-top:10px;
padding-bottom:10px;
}

.btn--primary {
    border: 2px solid $alt-color;
    background-color: transparent;
    color:$alt-color;
}

.vertical {
    position: relative;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
    top:0;
}