.title {
margin-bottom:-8px;
 font-style:heavy;
 font-size:$font-size-large;
}

.brand-color {
    color:$brand-color;
    a {
        color:$brand-color;
    }
}

.alt-color {
    color:$alt-color;
}

.text-black {
    color:black;
   }

.intervenant::after {
        content: ' – ';
        margin-right:4px;
        color:$alt-color;
}