.title {
margin-bottom:-8px;
 font-style:heavy;
 font-size:$font-size-large;

 .boxed {
     background-color: $alt-color;
     padding:5px;
 }
}

.text-large {
 font-style:heavy;
 font-size:$font-size-large;
}

.text-black {
    color:black;
   }

.text-alt {
    color:$alt-color;
   }

.text-white {
       color: white;
   }

.text-margin {
    margin-left: 30px;
}

.intervenant::after {
        content: ' – ';
        margin-right: 4px;
        color:$alt-color;
}

.uppercase {
    text-transform: uppercase;
}

i {
    color: $alt-color;
}

.vertical {
    position: relative;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
    top:0;
}

.vertical--border {
    border: 2px solid $alt-color;
    color: $alt-color;
    padding: 7px;
    border-radius: 2px;
}

a {
    color:white;
    text-decoration: none;
}

sup {
    font-size: 10px;
}