.title {
margin-bottom:-8px;
 font-style:heavy;
 font-size:$font-size-large;
}

.text-large {
 font-style:heavy;
 font-size:$font-size-large;
}

.text-black {
    color:black;
   }

.intervenant::after {
        content: ' – ';
        margin-right:4px;
        color:$alt-color;
}

.vertical {
    position: relative;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
    top:0;
}

.uppercase {
    text-transform: uppercase;
}