---
layout: pages
---

<div class="grid grid--center mrgt+">

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
        <div class="box box--primary mrgt+">
            <h1 class="title alt-color uppercase mrgb">{{ page.name }}</h1>
            {{ page.portrait }}
            {{ content }}
        </div>
    </div>

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
        <div class="box box--default mrgt+">
            <h2 class="title alt-color uppercase">{{ page.nomprojet }}</h2>
            <p class="alt-color">{{ page.sousnom }}</p>
            <p class="title uppercase">{{ page.lieux }}</p>
        </ul>
        <p>{{ page.projet }}</p>
    </div>
</div>

{% if page.youtube %}
  {% include {{ page.youtube }} %}
{% endif %}

{% for image in site.static_files %}
{% if image.path contains page.fiche %}
<div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
    <img class="img-responsive" src="{{ image.path | absolute_url }}" alt="{{ page.name }}" title="{{ page.name }}"/>
</div>
{% endif %}
{% endfor %}

</div>