---
layout: pages
---

<div class="grid grid--center mrgt+">

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
        <div class="box box--primary mrgt+">
            <p class="title alt-color capitalize">{{ page.name }}</p>
            {{ content }}
            <p><a  class="alt-color"href="{{ artistes.site }}">{{ page.site }}</a></p>
        </div>
    </div>

    <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
        <div class="box box--default mrgt+">
            <ul class="list list-inline">
                <li class="title alt-color uppercase">{{ page.nomprojet }}</li>
                <li>></li>
                <li class="title uppercase">{{ page.lieux }}</li>
            </ul>
            <p>{{ page.projet }}</p>
        </div>
    </div>


{% for image in site.static_files %}
    {% if image.path contains page.fiche %}
    <div class="sm-w-1/1 md-w-1/2 lg-w-1/2 grid__item mrgt">
            <img class="img-responsive" src="{{ image.path | absolute_url }}" alt="image" />
    </div>
    {% endif %}
{% endfor %}

</div>