<!DOCTYPE HTML>
<html class="no-js" lang="fr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#" itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% seo %}

    <meta property="og:type" content="business.business" />

    <meta property="business:contact_data:street_address" content="{{ site.street }}" />
    <meta property="business:contact_data:locality" content="{{ site.city }}" />
    <meta property="business:contact_data:postal_code" content="{{ site.zip }}" />
    <meta property="business:contact_data:country_name" content="{{ site.country }}" />
    <meta property="place:location:latitude" content="{{ site.latitude }}" />
    <meta property="place:location:longitude" content="{{ site.longitude }}" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="{{ '/styles/main.css' | absolute_url }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <link href="{{ '/styles/print.css' | absolute_url }}?{{site.time | date: '%s%N'}}" rel="stylesheet" media="print">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
</head>

<body style="background-color: #2a78a6; background-image: url('https://www.transparenttextures.com/patterns/scribble-light.png');">
    <script type="text/javascript">
        var github_url = 'https://sonnsone.github.io/tracesdepassages.ch';
        var current = window.location.href;
        if(current.indexOf(github_url) === 0) {
            // window.location.href = current.replace(github_url, '{{ site.url }}/{{ page.url }}');
        }
    </script>

    <div class="container">

        <header>

            <div class="grid grid--center">
                <div class="w-3/4 sm-w-3/4 md-w-1/2 lg-w-1/3 grid__item">
                    <a href="{{ '/' | absolute_url }}"><img class="logo img-responsive" src="{{ '/files/logo-white.png' | absolute_url }}"></a>
                </div>
            </div>

            <div class="grid grid--center">
                <div class="w-3/4 sm-w-3/4 md-w-1/2 lg-w-1/3 grid__item">
                    <ul class="list list-inline list-inline--center">
                        <li><a href="{{ '/fiches-artistes.html' | absolute_url }}"><img class="picto img-responsive" src="{{ '/files/picto/artistes.png' | absolute_url }}"></a></li>
                    </ul>
                </div>
            </div>

        </header>

        {{ content }}

        <div class="grid grid--center mrgt++">
            <div class="w-1/2 sm-w-3/4 md-w-1/2 lg-w-1/2 grid__item">
                <a href="{{ '/' | absolute_url }}"><img class="logo img-responsive" src="{{ '/files/face-sud.png' | absolute_url }}"></a>
            </div>
        </div>

        <footer class="grid grid--center mrgt++">
            <a href="https://andco.ch" target="_blank"><div class="grid__item w-1/6 text-center"><p class="btn btn--primary btn--small">designed by Studio andco</p></div></a>
        </footer>


    </div>

    <script type="text/javascript" src="{{ '/javascripts/main.js' | absolute_url }}?{{site.time | date: '%s%N'}}"></script>
    <script type="text/javascript">
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create', '{{ site.ga }}', 'auto');ga('send', 'pageview');
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
